<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= image_tag 'logo-and-title', class: "nav_img" %>
      <div class="toggle-button">
        <div class="stroke"></div>
      </div>
    </nav>
    <section class="dropdown hidden">
      <div><%= link_to 'Menu', menu_path %></div>
      <div><%= link_to 'Order', order_path %></div>
      <div><%= link_to 'About', about_path %></div>
      <div><%= link_to 'Cheat Codes', cheat_codes_path %></div>
    </section>
    <%= yield %>
  </body>
</html>
